.navBar {
    font-family: 'PT Serif', serif;
    float: right;
}
.navBar div {
    display: none;
    font-size: 25px;
    padding-right: 7px;
    padding-left: 7px;
    border: solid;
    border-width: 2px;
    padding-bottom: 2px;
}

#dropIcon {

}
#dropDownList {
    margin: 0;
}

#dropDownListElement {

}
.navBar ul {
    display: block;
    list-style: none;
    margin: 0;
    padding-top: 6px;
}

.navBar ul li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    border: solid;
    border-width: 2px;
}

.logo {
    padding-left: 3px;
    display: block;
    float: left;
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

.mainBody {
    width: 100%;
    margin-top: 8px;
    display: inline-block;
}

.welcomeMsg {
    font-family: 'PT Serif', serif;
    padding: 10px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: whitesmoke;
}

@media only screen and (max-width: 500px){

    .logo {
        font-size: 25px;
    }
    .navBar div{
        font-size: 20px;
    }
}

@media only screen and (max-width: 830px) {

    .navBar ul{
        display: none;
    }
    .navBar div {
        display: block;
    }
}