.defaultText {
    font-family: 'PT Serif', serif;
}

.topBody {
    width: 100%;
    display: inline-block;
}

#navBar {
    font-family: 'PT Serif', serif;
    float: right;
}



#navBar ul {
    list-style: none;
    margin-top: 0;
    padding-left: 16px;
}

#navBar ul li {
    display: inline;
}

#navBar ul li a{
    padding-right: .5em;
    padding-left: .5em;
    border: solid;
    border-width: 2px;
    background-color: white;
}

.logo {
    display: inline-block;
    float: left;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    border: solid;
    border-width:  2px;
    padding-left: .3em;
    padding-right: .3em;
}

.logo:hover {

}

.mainBody {
    width: 100%;
    display: inline-block;
}

.welcomeMsg {
    font-family: 'PT Serif', serif;
    padding: 1em;
    border: solid;
    border-width: 2px;
    background-color: whitesmoke;
    margin-top: 6px;
    text-align: center;
}

.welcomeMsg h1 {
    font-size: 2em;
    margin: 0;
}

.featRiddle {
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
    margin-top: .5em;
    padding: 1em;
}

.featRiddleTitle {
    font-family: 'Cinzel', serif;
    font-size: 2em;
}

.featRiddleInfo {
    font-family: 'PT Serif', serif;
}

.logInBox {
    width: 100%;
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
    text-align: center;
    padding: 1em;
    margin: auto;
    display: table-cell;
}

.logInWrapper {
    padding-top: 1em;
    display: table;
    margin: auto;
}

a {
    color:#000000;
}
a:visited {
    color:#000000;
}
a:hover {
    color: #d692a0;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
a:active {
    color:#d692a0;
}
a {
    text-decoration: none;
}

.LogInElement{
    text-align: left;
    display: inline-block;
    width: 6em;
}

.logInInfoWrap {
    font-family: 'PT Serif', serif;
    width: 16em;
}

.logInButton {
    font-family: 'PT Serif', serif;
    font-size: 1em;
    border: solid;
    border-width: 2px;
    border-radius: 0;
    background-color: white;
}

.logInButton:hover {
    color: #d692a0;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.logInButton:focus {
    outline: none;
}

.generalInput {
    width: inherit;
    border: solid;
    border-width: 2px;
    border-radius: 0;
}

.generalInput:focus, .signUpFormInput:focus, .signUpFormInput_state:focus{
    border-color: #d692a0;
    -webkit-transition: border-color 0.1s ease-out;
    -moz-transition: border-color 0.1s ease-out;
    -o-transition: border-color 0.1s ease-out;
    transition: border-color 0.1s ease-out;
    outline: none;
}

.generalInput:hover, .signUpFormInput:hover, .signUpFormInput_state:hover{
    border-color: #d692a0;
    -webkit-transition: border-color 0.1s ease-out;
    -moz-transition: border-color 0.1s ease-out;
    -o-transition: border-color 0.1s ease-out;
    transition: border-color 0.1s ease-out;
    outline: none;
}

.contactBox{
    text-align: center;
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
}

.signUpBox {
    padding: 1em;
    width: 36em;
    margin: auto;
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
    text-align: center;
    margin-top: 3em;
}

.signUpForm {
    text-align: left;
    width: 20em;
}

.signUpFormInput {
    border: solid;
    border-width: 2px;
    border-radius: 0;
    width: 130px;
}

.signUpFormInput_state{
    border: solid;
    border-width: 2px;
    border-radius: 0;
    float: right;
    width: 136px;
    background-color: white;
}

.riddleDiv {
    background-color: whitesmoke;
    border: solid;
    border-width: 2px;
    margin-top: .3em;
    padding: 1em;
    width: 100%;
    text-align: left;
}

.riddleDiv:hover {
    border-color: #d692a0;
    color: #d692a0;
    box-shadow: 3px 3px 5px #888888;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.riddleName {
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.riddleAuthor {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.riddleDate {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

.riddleInfo {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

.signUpLabel {
    font-family: 'PT Serif', serif;
    float: left;
}

.captchaWrap {
    padding-top: 20px;
}

.g-recaptcha {
    display: inline-block;
}

.sortAgeDiv {
    position: relative;
    width: 100px;
    height: 50px;
}

.sortAgeClick {
    display: none;
}

.sortAgeButtonBlank:hover{
    cursor: pointer;
}

.sortAgeButtonSelected:hover{
    cursor: pointer;
}

.sortAgeButtonBlank {
    display: inline-block;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    padding: 5px;
    border: solid;
    border-width: 2px;
    background-color: white;
}

.sortAgeButtonSelected {
    display: inline-block;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    padding: 5px;
    border-color: #d692a0;
    color: #d692a0;
    border: solid;
    border-width: 2px;
    background-color: white;
}

.categoryDropDown {
    display: inline-block;
    font-size: 14px;
    border: solid;
    border-width: 2px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 5px;
    background-color: white;
}

.categoryDropDown:hover{
    cursor: pointer;
}



/* Browser shrink */
@media only screen and (max-width: 860px){

    .logo {
        font-size: 30px;
        height: 40px;
    }

    #navBar ul li{
        font-size: 16px;
    }
}

/* Up to iPhone 6 shrink */
@media only screen and (max-width: 800px) {

    .welcomeMsg {
        margin-top: 0;
    }
    .welcomeMsg h1 {
        font-size: 1.5em;
    }
    .topBody {
        height: 4.5em;
    }
    .logo {
        float: none;
        display: block;
        text-align: center;
        font-size: 24px;
        height: 30px;
    }

    #navBar {
        float: none;
    }
    #navBar ul {
        display: table;
        width: 100%;
        padding-left: 0;
        padding-top: .5em;
    }
    #navBar ul li {
        display: table-cell;
        text-align: center;
    }
    #navBar ul li:first-child{
        text-align: left;
    }
    #navBar ul li:last-child {
        text-align: right;
    }

    .featRiddleTitle {
        font-size: 1.5em;
    }

    .logInBox {
        margin: 0;
    }

    .logInWrapper {
        display: flex;
        padding-top: .1em;
    }

    .logInInfoWrap {
        display: initial;
    }

    .signUpBox {
        width: inherit;
        margin-right: 0;
        margin-top: 0;
    }

    .signUpForm {
        width: inherit;
    }

}

/* iPhone 5 shrink */
@media only screen and (max-width: 374px) {
    .logo {
        font-size: 22px;
        height: 26px;
    }
    .topBody {
        height: 4em;
    }
    #navBar ul li {
        font-size: 13px;
    }
}