.topBody {
    width: 100%;
    display: inline-block;
}

.navBar {
    font-family: 'PT Serif', serif;
    float: right;
}
.navBar div {
    display: none;
    font-size: 2.5em;
    padding-right: 1em;
    padding-left: 1em;
    border: solid;
    border-width: .2em;
    padding-top: .6em;
    padding-bottom: .6em;
}

#dropIcon {
    font-family: 'Cinzel', serif;
}
#dropDownList {

}

#dropDownListElement {

}
.navBar ul {
    list-style: none;
    transform: translateY(-1em);
}

.navBar ul li {
    display: inline;
    padding-right: .5em;
    padding-left: .5em;
    border: solid;
    border-width: .15em;
    background-color: white;
}

.logo {
    display: inline-block;
    float: left;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    border: solid;
    border-width: .1em;
    padding-left: .3em;
    padding-right: .3em;
}

.mainBody {
    width: 100%;
    margin-top: .8em;
    display: inline-block;
}

.welcomeMsg {
    font-family: 'PT Serif', serif;
    padding: 1em;
    border: solid;
    border-width: .2em;
    background-color: whitesmoke;
}

.welcomeMsg h1 {
    font-size: 2em;
    margin: 0;
}

@media only screen and (max-width: 860px){

    .logo {
        font-size: 1.8em;
    }
    .navBar ul{
        display: none;
    }
    .navBar div{
        display: block;
        font-size: .9em;
    }
}

@media only screen and (max-width: 600px) {

    .navBar ul{
        display: none;
    }
    .navBar div {
        display: block;
    }
}